#app
  %Search

  %section.section
    .columns.is-centered
      .column.is-8
        .title.is-4.has-main-color
          Top 15 Hacker News

  %section.columns.is-centered.p-top-0
    .column.is-8
      - @stories.each do |story|
        %article.card.m-bottom-15.story
          .card-content
            %h2.title.is-5.m-bottom-10
              = link_to story.url, class: 'story__title', target: :blank do
                = story.title

            %p.subtitle.is-7.m-bottom-10.m-top-0.story__info
              by
              %span.story__info--underline.m-right-5
                = story.by
              %span.story__info--underline
                = format_date(story.time)

            %p.is-size-7.has-text-weight-semibold.m-bottom-10
              = pluralize(story.comments_count, 'comment')

            = link_to '#', class: 'is-size-7' do
              + Show most relevant comments
